#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Clases sin tilde ni espacio */

.inicio {
  background-image: linear-gradient(to right, rgba(6, 83, 54, 0.411), rgba(6, 83, 54, 0.411)),
    url("https://images.unsplash.com/photo-1501004318641-b39e6451bec6");
}

.registros {
  background-image: linear-gradient(to right, rgba(6, 83, 54, 0.411), rgba(6, 83, 54, 0.411)),
    url("https://images.unsplash.com/photo-1590420891914-7d671141a231");
}

.metas {
  background-image: linear-gradient(to right, rgba(6, 83, 54, 0.411), rgba(6, 83, 54, 0.411)),
    url("https://images.unsplash.com/photo-1542826438-5ec1caaa65b2");
}

.estadisticas {
  background-image: linear-gradient(to right, rgba(6, 83, 54, 0.411), rgba(6, 83, 54, 0.411))
}

.informacion {
  background-image: linear-gradient(to right, rgba(6, 83, 54, 0.411), rgba(6, 83, 54, 0.411)),
    url("https://images.unsplash.com/photo-1603825351529-54fd64ba00f2");
}

nav {
  text-align: center;
  margin-bottom: 1rem;
}

nav a {
  margin: 0 0.5rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 5px black;
}